.contains-item {
  border: 100px solid #506154;
  padding: 100px 80px 100px 80px;
  margin: 10px;
}

h1 {
  color: #506154;
  font-family: "Arial";
}

h2 {
  color: #506154;
  font-family: "Arial";
}

h3 {
  color: #506154;
  font-family: "Arial";
}

